.owl-theme .owl-dots .owl-dot span {
    background: var(--bg-primary) !important;
}

.owl-theme .owl-dots .owl-dot span {
    border-radius: 3px;
    background: rgba(47, 85, 212, 0.5) !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots.clickable .owl-dot:hover span {
    background: var(--bg-primary) !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}